h1 {
  text-align: center;
  background-color: blueviolet;
  color: white;
  padding: 15px;
  margin: 0px;
}
.forms{
  background-color: rgb(206, 187, 224);
  padding: 10px;
  text-align: center;
}
button{
  padding: 5px;
  margin: 5px;
  border: 1px solid blueviolet;
  border-radius: 5px;
}
.bt1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.no{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: 100px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  justify-content: center;
}
.day{
  font-size: 15px;
  color: darkorchid;
}
.percen{
  font-size: 25px;
  color: brown;
}
.short{
  text-align: center;
  padding: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.parts{
  border-bottom: 1px solid darkorchid;
}
.mvliK {
  font-size: 20px;
  display: inline-flex;
  width: 150px;
  font-weight: bold;
  padding: 10px;

}
.mvliV {
  font-size: 20px;
  display: inline-flex;
  width: 200px;
  padding: 10px; 
}
.p1{
  width: 200px;
  padding: 50px;
  margin: 50px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;;
  border: 1px solid darkorchid;
  border-radius: 5px;
}
.p2{
  width: 200px;
  padding: 50px;
  margin: 50px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid darkorchid;
  border-radius: 5px;
}
.line{
  text-decoration-line: none;
}